@model BootFlixBC7.ViewModels.SerieFormViewModel
@{

    ViewBag.Title = "SerieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Serie Form</h2>
@using (Html.BeginForm("Save", "Series"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(s => s.Id)
    <div class="form-group">
        @Html.LabelFor(s => s.Title)
        @Html.TextBoxFor(s => s.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Name)
        @Html.TextBoxFor(s => s.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.ReleaseDate)
        @Html.TextBoxFor(s => s.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Seasons)
        @Html.TextBoxFor(s => s.Seasons, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Seasons)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.GenreId)
        @Html.DropDownListFor(s => s.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.GenreId)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

